<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>微政务</title>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/mui.min.js"></script>
    <script src="js/com.util.js"></script>
    <script src="js/app.js"></script>
    <script src="js/qrcode.min.js"></script>
    <link href="styles/m_styles/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/datepicker3.css">
    <link rel="stylesheet" href="styles/m_styles/common.skin/common.css">
    <link rel="stylesheet" href="styles/m_styles/app.skin/app.css?20181220">
    <link rel="stylesheet" type="text/css" href="styles/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/wmh.css"/>
    <link rel="stylesheet" type="text/css" href="styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="styles/bsdt.css"/>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="background: #FFF;">
<div class="app" v-if="isShowHtml">
    <div class="mui-content">
        <div class="content-top">
            <div class="div-top">
                <div class="sancia-title" v-if="tab == 1">在线抽号</div>
                <div class="sancia-title" v-if="tab == 2">预约抽号</div>
                <div class="mui-line"></div>
                <ul class="top-faceul">
                    <li class="mui-col-xs-3"
                        @click="showItemPages('8021180485468160','http://172.16.6.222:1777/getno',$event)">
                        <span class="hz"><a href="#">户　政</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showItemPages('8007070054222336','http://172.16.6.211:1777/getno',$event)">
                        <span class="crj"><a href="#">出入境</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showItemPages('7999689870936064','http://172.16.6.227:1777/getno',$event)">
                        <span class="rcrs"><a href="#">人才人社</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showSpaItemPages('8000268167611904','http://172.16.6.248:1777/getno',$event,1)">
                        <span class="jh"><a href="#">结　婚</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showSpaItemPages('8003710388110336','http://172.16.6.233:1777/getno',$event,1)">
                        <span class="lh"><a href="#">离　婚</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showSpaItemPages('8049236260585984','http://172.16.6.224:1777/getno',$event,1)">
                        <span class="sw"><a href="#">税　务</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showSpaItemPages('7999532585125888','http://172.16.6.253:1777/getno',$event,1)">
                        <span class="spj"><a href="#">审批局</a></span>
                    </li>
                    <li class="mui-col-xs-3"
                        @click="showItemPages('7999532027317248','http://172.16.6.253:1777/getno',$event)">
                        <span class="qt"><a href="#">其　他</a></span>
                    </li>
                </ul>

                <!--end-->
            </div>
        </div>
    </div>
    <div class="mui-content">
        <div class="mui-slider-item ulbd mui-active" style="background-color: white;">
            <div class="div-bottom" v-if="!isShowItemList && initItemCategory">
                <ul class="bottom-faceul">
                    <li class="mui-col-xs-3" v-for="category in categoryList"
                        @click="showItemList(category.id,'')">
                        <p><a href="#">{{category.name}}</a></p>
                    </li>
                </ul>
            </div>
            <div class="div-bottom" v-if="isShowItemList && initItemCategory && tab==1">
                <ul class="bottom-faceul">
                    <li class="mui-col-xs-3" v-for="item in itemList"
                        @click="showCallNumber(item.id)">
                        <p><a href="#">{{item.name}}</a></p>
                    </li>
                    <li class="mui-col-xs-3" v-if="isShowItemList && initItemCategory && tab==2"
                        v-for="item in itemList"
                        @click="showPreOrder(item)"><p><a href="#">{{item.name}}</a></p></li>
                </ul>
            </div>
            <div class="div-bottom" v-if="isShowItemList && initItemCategory && tab==2">
                <ul class="bottom-faceul">
                    <li class="mui-col-xs-3" v-for="item in itemList"
                        @click="showPreOrder(item)">
                        <p><a href="#">{{item.name}}</a></p>
                    </li>
                </ul>
            </div>
            <div class="item-yy" v-if="isShowPreOrderPage && !initItemCategory">
                <div class="m-item">
                    <div class="imgs"><img src="images/yy-bg.png" alt=""></div>
                    <div class="infos">预约事项：<span style="color: #f1355a;">{{preorderVo.name}}</span></div>
                </div>
                <div class="mui-card-content">
                    <div class="mui-card-content-inner">
                        <div class="m-yy-date u-tc font-size-14">
                            <div class="m-yysd">
                                <div class="m-yy-info">
                                    <div class="date-info">请选择预约日期：
                                    </div>
                                    <div class="info">
                                        <input id="yysj" name="yysj" type="text" class="laydate-icon"
                                               readonly="readonly"
                                               placeholder="预约时间"></div>
                                </div>
                                <div class="m-yy-info">
                                    <div class="date-info">请选择预约时间：
                                    </div>
                                    <div class="info">
                                        <ul class="timeList">
                                            <li v-for="time in timeList" @click="changeTime(time,$event)" class="left">
                                                {{time}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="mui-button-row">
                        <input type="submit" value="确定" @click="addPreorder"/>
                    </div>
                </div>
            </div>
            <div style="height: 48px"></div>
            <div class="return-btn-container">
                <a class="mui-icon mui-icon-left-nav" style="color: #fff;" href="index.html">
                    <span class="return-btn" style="vertical-align: baseline;">返回首页</span></a>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/moment.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="js/validate.js"></script>
<script src="js/GetInfoFromIdcard.js"></script>
<script src="js/common.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>

</body>
</html>
<script>
    new Vue({
        el: '.app',
        data: {
            isShowHtml: true,
            currentTab: 1,
            // apiUrl: 'http://lhsmzx.deyatong.com',
            apiUrl: 'http://47.96.11.207',
            // apiUrl: 'http://localhost:8765',
            distance: 200,
            identityVo: {
                idcardNo: '610114199203273526',
                name: undefined,
                gender: undefined,
                birthday: undefined,
                address: undefined,
                phone: undefined,
                wechatOpenid: 'otddA5hsJMF8Qgdw6l1PTD05O5f0'
            },
            categoryItemVo: {
                categoryId: undefined,
                page: 1,
                size: 30
            },
            day: undefined,
            categoryList: undefined,
            initItemCategory: false,
            isShowItemList: false,
            page: 1,
            rows: 30,
            itemList: undefined,
            itemIds: undefined,
            categoryId: undefined,
            hardUrl: '',
            isShowMyGetNumber: false,
            callNumberList: undefined,
            isShowPreOrderPage: false,
            date: undefined,
            hour: undefined,
            nowDate: undefined,
            nowHour: undefined,
            holidayList: [],
            nextFiveWorkDates: [],
            timeList: [],
            timeList1: [],
            countList: [],
            isShowMyPreOrder: false,
            preorderVo: {
                identityId: '1128175311922401281',
                itemId: undefined,
                itemName: undefined,
                phone: undefined,
                time: undefined,
                timeSlot: undefined,
                channel: 2,
                status: 0,
                wechatOpenid: 'otddA5hsJMF8Qgdw6l1PTD05O5f0'
            },
            preorderVoList: undefined,
            isShowMyInfo: true,
            isBind: false
        },
        methods: {
            //微信认证
            authorize: function () {
                let code = getParam("code");
                let _this = this;
                $.ajax({
                    method: "get",
                    url: _this.apiUrl + "/web/api/number/authorize",
                    data: "code=" + code,
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200 && result.data != undefined) {
                            if (result.data.subscribe && result.data.openId != null) {
                                _this.identityVo.wechatOpenid = result.data.openId;
                                _this.preorderVo.wechatOpenid = result.data.openId;
                                _this.getIdentityInfoByOpenId();
                            } else {
                                mui.alert("请先关注***政务大厅公众号!");
                                _this.isShowHtml = false;
                            }
                        }
                    }
                });
            },
            //用户信息查询
            getIdentityInfoByOpenId() {
                let _this = this;
                $.ajax({
                    method: "get",
                    url: _this.apiUrl + "/web/api/number/getIdentityInfoByOpenId",
                    data: "wechatOpenid=" + _this.identityVo.wechatOpenid,
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200 && result.data != undefined) {
                            _this.identityVo = result.data;
                            _this.preorderVo.identityId = result.data.id;
                            _this.preorderVo.phone = result.data.phone;
                            _this.isBind = true;
                        } else {
                            _this.tipBindInfo();
                        }
                    },
                    error: function () {
                        alert('fail');
                    }
                });
            },
            //签名
            getJsapiTicket() {
                let _this = this;
                let url = encodeURIComponent(location.href.split('#')[0]);
                $.ajax({
                    method: "get",
                    url: _this.apiUrl + "/web/api/number/jsapiSignature",
                    data: "url=" + url,
                    dataType: "json",
                    success: function (result) {
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: result.data.appId, // 必填，公众号的唯一标识
                            timestamp: result.data.timestamp, // 必填，生成签名的时间戳
                            nonceStr: result.data.nonceStr, // 必填，生成签名的随机串
                            signature: result.data.signature,// 必填，签名
                            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表
                        });
                        wx.ready(function () {
                            _this.getLocalNow();
                        })
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                });
            },
            getLocalNow() {
                let _this = this;
                wx.getLocation({
                    type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                    success: function (res) {
                        let la1 = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                        let lo1 = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                        // 坐标位置：***政务大厅,34.2693997276,108.8841853772
                        let la2 = "34.2693997276";
                        let lo2 = "108.8841853772";
                        //创新大厦
                        // let la2= "34.2351417390";
                        // let lo2 = "108.8989513235";
                        _this.getDistance(lo1, la1, lo2, la2);

                    }
                });

            },
            getDistance(lo1, la1, lo2, la2) {
                let La1 = la1 * Math.PI / 180.0;
                let La2 = la2 * Math.PI / 180.0;
                let La3 = La1 - La2;
                let Lb3 = lo1 * Math.PI / 180.0 - lo2 * Math.PI / 180.0;
                let s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(La3 / 2), 2) + Math.cos(La1) * Math.cos(La2) * Math.pow(Math.sin(Lb3 / 2), 2)));
                s = s * 6378.137; //地球半径
                s = Math.round(s * 10000) / 10000;
                s = s * 1000;
                this.distance = s;
            },
            checkLocation: function () {
                if (this.distance > 200) {
                    return false;
                } else {
                    return true;
                }
            },
            //已抽号未办理
            getItemIdsByPensonId: function () {
                let _this = this;
                $.ajax({
                    url: _this.apiUrl + "/web/api/number/getItemIdsByIdentityId",
                    dataType: 'json',
                    data: {
                        identityId: _this.identityVo.id
                    },
                    success: function (result) {
                        if (result.status == 200) {
                            _this.itemIds = result.data;
                        } else {
                            mui.alert(result.msg);
                        }
                    }
                });
            },

            //事项分类
            showItemPages(itemCategory, url, e) {
                if (e == undefined) {
                    $(".div-top li").first().addClass("hover");
                } else {
                    $(e.currentTarget).addClass('hover').siblings().removeClass('hover');
                }
                this.currentTab = 2;
                let _this = this;
                _this.initItemCategory = true;
                _this.isShowItemList = false;
                _this.isShowPreOrderPage = false;
                _this.hardUrl = url;
                $.ajax({
                    url: _this.apiUrl + "/web/api/item/getCategoryByParentId",
                    dataType: 'json',
                    data: {
                        categoryId: itemCategory
                    },
                    success: function (result) {
                        if (result.status == 200) {
                            _this.categoryList = result.data;
                        } else {
                            mui.alert(result.msg);
                        }
                    }
                });
            },
            //分类下的事项
            showSpaItemPages(itemCategory, url, e, d) {
                if (d == 1) {
                    $(e.currentTarget).addClass('hover').siblings().removeClass('hover');
                }

                let _this = this;
                _this.initItemCategory = true;
                _this.isShowItemList = true;
                _this.isShowPreOrderPage = false;
                if (url != '') {
                    _this.hardUrl = url;
                }
                _this.itemCategory = itemCategory;
                _this.getItemList();
                _this.getItemIdsByPensonId();
            },
            showItemList(itemCategory, url) {
                let _this = this;
                _this.isShowItemList = true;
                if (url != '') {
                    _this.hardUrl = url;
                }
                _this.itemCategory = itemCategory;
                _this.getItemList();
                _this.getItemIdsByPensonId();
            },
            //事项列表
            getItemList() {
                let _this = this;
                let categoryItemVo = {
                    "categoryId": _this.itemCategory,
                    "page": 1,
                    "size": 30
                };
                $.ajax({
                    // 根据分类编号检索事项信息
                    url: _this.apiUrl + "/web/api/item/getItemsByCategoryId",
                    type: "POST",
                    dataType: "json",
                    async: false,
                    data: categoryItemVo,
                    success: function (result) {
                        if (result.status == 200) {
                            _this.itemList = result.data.records;
                        } else {
                            mui.alert(result.msg);
                        }
                    }
                });
            },
            //抽号
            showCallNumber(itemId) {
                this.getItemIdsByPensonId();
                let _this = this;
                if (!this.checkLocation()) {
                    mui.alert("请在***政务大厅200米范围内抽号");
                    return;
                }
                if (_this.identityVo.idcardNo) {
                    mui.alert("抽号成功之后,已叫号但您未办理,可前往个人中心-我的抽号进行激活,***政务大厅200米范围内可激活", "重要提示", "点击抽号", function () {
                        let extend = $.extend(_this.identityVo, {preorderNumber: ""}, {itemId: itemId}, {url: _this.hardUrl});
                        let inArray = $.inArray(itemId, _this.itemIds);
                        if (inArray == -1) {
                            _this.getNumber(extend);
                        } else {
                            mui.alert("该事项已抽号，请耐心等待叫号");
                        }
                    })
                } else {
                    this.tipBindInfo();
                }
            },
            getNumber: function (data) {
                if (this.getNowTime() > "23:59") {
                    mui.alert("亲爱的市民朋友们，市民中心一天的工作已经结束，如您还有需要办理的事项，请您进入在线预约，选择其他时间办理。");
                } else {
                    const _this = this
                    // 如果事项是结婚登记，提示输入一句话
                    if (data.itemId === '7999362586413056') {
                        mui.prompt('请输入留言', '莲花并蒂开，情心相印；梧枝连理栽，灵犀互通！祝你们百年好合，比翼双飞！', '结婚登记', ['确定'], function ({index, value}) {
                            if (!value) {
                                value = '莲花并蒂开，情心相印；梧枝连理栽，灵犀互通！祝你们百年好合，比翼双飞！'
                            }
                            data = $.extend(data, {remark: value})
                            _this.doGetNumber(data)
                        })
                    } else {
                        this.doGetNumber(data)
                    }
                }
            },
            doGetNumber: function (data) {
                $.ajax({
                    type: "post",
                    url: this.apiUrl + "/web/api/number/callNumber",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200) {
                            if (data.itemId === '7999362586413056') {
                                mui.alert('抽号成功，请您注意微信消息推送！\n凭个人中心我的抽号中的二维码在抽号机上打印留言小票');
                            } else {
                                mui.alert('抽号成功，请您注意微信消息推送！');
                            }
                        } else {
                            mui.alert(result.msg);
                        }
                    }
                });
            },
            getNowTime: function () {
                let time = new Date();
                let hour = time.getHours();
                let minutes = time.getMinutes();
                hour < 10 ? hour = '0' + hour : hour;
                minutes < 10 ? minutes = '0' + minutes : minutes;
                return hour + ':' + minutes;
            },
            //预约
            showPreOrder(item) {
                let _this = this;
                _this.isShowPreOrderPage = true;
                _this.preorderVo.itemId = item.id;
                _this.preorderVo.name = item.name;
                if (this.identityVo.idcardNo) {
                    mui.alert("预约成功之后，请务必于预约时间段内前往个人中心-我的预约进行预约抽号，***政务大厅200米范围内可预约抽号", "重要提示", "确定", function () {
                        _this.initItemCategory = false;
                        if (item.days == undefined) {
                            mui.alert("对不起，该事项不能预约")
                        } else {
                            _this.timeList = item.timeSlot.split(','); //原时间段
                            _this.timeList1 = item.timeSlot.split(',');
                            _this.timeList.sort(function (a, b) {
                                let aa = a.substr(0, 2);
                                let bb = b.substr(0, 2);
                                return aa - bb
                            });
                            _this.days = item.days; //可预约天数
                            _this.countList = item.counts.split(','); //预约人数
                            _this.timeIdList = item.timeId.split(','); //时间段id
                            _this.getHoliday();
                            // _this.getPreOrderBlcakByIdentityId();
                        }

                    })
                } else {
                    this.tipBindInfo();
                }
            },
            getHoliday() {
                let _this = this;
                $.ajax({
                    url: _this.apiUrl + "/web/api/admin/listByHoliday",
                    data: {"year": new Date().getFullYear()},
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200) {
                            for (let holiday of result.data) {
                                _this.holidayList.push(moment(holiday.date).format('YYYY-MM-DD'));
                            }
                            _this.initDatePicker();
                        } else {
                            mui.alert(result.msg);
                        }
                    }
                });
            },
            initDatePicker() {
                const _this = this;
                _this.nextFiveWorkDays();
                $("#yysj").datepicker({
                    startDate: _this.nextFiveWorkDates[0],
                    endDate: _this.nextFiveWorkDates[_this.day],
                    datesDisabled: _this.holidayList,
                    language: "zh-CN",
                    autoclose: true,
                    format: "yyyy-mm-dd"
                }).on('changeDate', function (e) {
                    _this.preorderVo.time = $("#yysj").val();
                    _this.preorderVo.time = moment(_this.preorderVo.time).format("YYYY-MM-DD");
                });
            },
            changeTime(time, e) {
                let _this = this;
                $.each(_this.timeList1, function (index, value) {
                    if (time == value) {
                        _this.preorderVo.count = _this.countList[index];
                        _this.preorderVo.timeId = _this.timeIdList[index];
                    }
                });
                _this.preorderVo.timeSlot = time;
                $(e.currentTarget).addClass('hover').siblings().removeClass('hover');
            },
            nextFiveWorkDays: function () {
                let _this = this;
                _this.nextFiveWorkDates = [];
                let day = new Date();
                for (let i = 0; i < _this.days; i++) {
                    _this.day = i;
                    _this.nextFiveWorkDates.push(_this.nextWorkDay(day));
                }
            },
            nextWorkDay(day) {
                day.setDate(day.getDate() + 1);
                let date = moment(day).format('YYYY-MM-DD');
                if (!this.holidayList.includes(date)) {
                    return date;
                }
                return this.nextWorkDay(day);
            },
            //是否黑名单用户
            getPreOrderBlcakByIdentityId: function () {
                let _this = this;
                $.ajax({
                    method: "get",
                    url: _this.apiUrl + "/web/api/number/getPreOrderBlcakByIdentityId",
                    data: {
                        identityId: _this.identityVo.id
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200 && result.data == 0) {
                            _this.isShowHtml = true;
                        } else {
                            mui.alert("您已是黑名单用户，不能进行预约操作！");
                            _this.isShowHtml = false;

                        }

                    }
                });
            },
            //新增预约
            addPreorder() {
                this.getItemIdsByPensonId();
                //用户编号、事项编号、时间段编号、预约时间、渠道、办理地点、状态（等待赴约0）
                if (!this.preorderVo.time) {
                    mui.alert("请选择预约时间");
                    return false;
                }
                if (!this.preorderVo.timeId) {
                    mui.alert("请选择预约时段");
                    return false;
                }
                $.ajax({
                    type: "post",
                    url: this.apiUrl + "/web/api/number/addPreorder",
                    dataType: 'json',
                    data: this.preorderVo,
                    success: function (result) {
                        if (result.message == "OK") {
                            mui.alert("预约成功");
                        } else {
                            mui.alert(result.message);
                        }

                    }
                });
            },
            tipBindInfo: function () {
                mui.alert("请前往个人中心绑定身份信息<br>", "重要提示", "确定", function () {
                    location.href = "grzx.html"
                })
            }
        },
        created() {
            // if (isWeiXin()) {
            if (this.getNowTime() > "23:59") {
                mui.alert("亲爱的市民朋友们，市民中心一天的工作已经结束，如您还有需要办理的事项，请您进入在线预约，选择其他时间办理。");
            }
            //获取openId和是否关注标识
            this.isShowHtml = true;
            // this.authorize();
            this.tab = getParam("tab");
            this.showItemPages('8021180485468160', 'http://172.16.6.222:1777/getno', undefined);
            // this.getJsapiTicket();
            // } else {
            //     mui.alert("请在微信公众号中打开此页面！");
            //     this.isShowHtml = false;
            // }
        }
    });
</script>
