<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>微政务</title>
    <link rel="stylesheet" type="text/css" href="styles/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/wmh.css"/>
    <link rel="stylesheet" type="text/css" href="styles/itemDetail.css"/>
    <link rel="stylesheet" type="text/css" href="js/photoswipe/photoswipe.css"/>
    <link rel="stylesheet" type="text/css" href="js/photoswipe/default-skin.css"/>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/photoswipe/photoswipe.min.js"></script>
    <script src="js/photoswipe/photoswipe-ui-default.min.js"></script>
</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav news-logo header">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left back"></a>
        <h1  class="mui-title title">
            <span>事项详情</span>
        </h1>
        <a href="index.html" class=" mui-icon mui-icon-home mui-pull-right home"></a>
    </header>
    <div class="item-detail">
        <div class="global">
            <ul class="mui-table-view news-ul content">
                <li class="mui-table-view-cell">
                    <table class="item-table">
                        <tbody>
                        <tr v-if="basicInfo.name">
                            <th>办理事项</th>
                            <td>{{basicInfo.name}}</td>
                        </tr>
                        <tr v-if="basicInfo.itemType">
                            <th>事项类型</th>
                            <td>{{basicInfo.itemTypeName}}</td>
                        </tr>
                        <tr v-if="basicInfo.dealDeptName">
                            <th>实施机构</th>
                            <td>{{basicInfo.dealDeptName}}</td>
                        </tr>
                        <tr v-if="basicInfo.mold">
                            <th>办理类型</th>
                            <td>{{basicInfo.dealTypeName}}</td>
                        </tr>
                        <tr v-if="basicInfo.promiseComptime">
                            <th>承诺期限</th>
                            <td>{{basicInfo.promiseComptime}}个工作日</td>
                        </tr>
                        <tr v-if="basicInfo.serviceObject ">
                            <th>服务对象</th>
                            <td>{{basicInfo.serviceObjectName}}</td>
                        </tr>
                        <tr v-if="basicInfo.mold ">
                            <th>办理形式</th>
                            <td>{{basicInfo.moldName}}</td>
                        </tr>
                        <tr v-if="basicInfo.askTel">
                            <th>咨询电话</th>
                            <td>{{basicInfo.askTel}}</td>
                        </tr>
                        <tr v-if="basicInfo.superviseTel">
                            <th>监督电话</th>
                            <td>{{basicInfo.superviseTel}}</td>
                        </tr>
                        <tr v-if="basicInfo.acceptPlace">
                            <th>办理地点</th>
                            <td>{{basicInfo.acceptPlace}}</td>
                        </tr>
                        <tr v-if="basicInfo.acceptTime">
                            <th>办理时间</th>
                            <td>{{basicInfo.acceptTime}}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="mui-table-view-cell" v-if="basicInfo.legalBasis">
                    <div class="li-title">办理依据</div>
                    <p class="p1" v-html="basicInfo.legalBasis"></p>
                </li>
                <li class="mui-table-view-cell" v-if="basicInfo.acceptCondition">
                    <div class="li-title">办理条件</div>
                    <p class="p1" v-html="basicInfo.acceptCondition"></p>
                </li>
                <li class="mui-table-view-cell" v-if="materials.length > 0">
                    <div class="li-title">提交材料</div>
                    <table class="material-table">
                        <tbody>
                        <tr v-for="(material,index) in materials">
                            <td>
                                &nbsp;&nbsp;&nbsp;{{index+1}})  {{material.materialsName}}<br>
                                <p class="p2">
                                    材料来源：{{material.materialsFrom}}<br>
                                    材料类型：{{material.materialsTypeName}}<br>
                                    <span v-if="material.materialsSubTypeName">
                                    材料子类型：{{material.materialsSubTypeName}}<br>
                                    </span>
                                    <span v-if="material.copySpecialRequirements">
                                    复印件特殊要求：{{material.copySpecialRequirements}}<br>
                                    </span>
                                    <span v-if="material.materialsWarn">
                                    填表须知：{{material.materialsWarn}}<br>
                                    </span>
                                    <span v-if="material.materialsNum">
                                    纸质材料数量：{{material.materialsNum}}
                                    </span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li class="mui-table-view-cell" v-if="basicInfo.remark">
                    <div class="li-title">注意事项</div>
                    <p class="p1" v-html="basicInfo.remark"></p>
                </li>
                <li class="mui-table-view-cell" v-if="basicInfo.handleWorkflow">
                    <div class="li-title">办理流程</div>
<!--                    <p :v-html="basicInfo.handleWorkflow"></p>-->
<!--                    <a :href="basicInfo.handleWorkflow" target="_blank">{{basicInfo.handleWorkflow}}</a>-->
                    <!--data-pswp-uid在每个相册中必须是唯一的，data-size指定放大时图片显示的宽和高-->
                    <div class="my-gallery" data-pswp-uid="1">
                    　　<figure>
                            <a :href="apiUrl + basicInfo.handleWorkflow" data-size="670x712">
                                <img class="handle-workflow-img" :src="apiUrl + basicInfo.handleWorkflow" :width="width - 200">
                            </a>
                        </figure>
                    </div>
<!--                    <img class="handle-workflow-img" :src="apiUrl + basicInfo.handleWorkflow" :width="width - 200">-->

                    <!--图片插件html-->
                    <!-- Root element of PhotoSwipe. Must have class pswp. -->
                    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                        <!-- Background of PhotoSwipe.
                             It's a separate element as animating opacity is faster than rgba(). -->
                        <div class="pswp__bg"></div>

                        <!-- Slides wrapper with overflow:hidden. -->
                        <div class="pswp__scroll-wrap">

                            <!-- Container that holds slides.
                                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                                Don't modify these 3 pswp__item elements, data is added later on. -->
                            <div class="pswp__container">
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                                <div class="pswp__item"></div>
                            </div>

                            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                            <div class="pswp__ui pswp__ui--hidden">

                                <div class="pswp__top-bar">

                                    <!--  Controls are self-explanatory. Order can be changed. -->

                                    <div class="pswp__counter"></div>

                                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                                    <button class="pswp__button pswp__button--share" title="Share"></button>

                                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                    <!-- element will get class pswp__preloader--active when preloader is running -->
                                    <div class="pswp__preloader">
                                        <div class="pswp__preloader__icn">
                                            <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                    <div class="pswp__share-tooltip"></div>
                                </div>

                                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                </button>

                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                </button>

                                <div class="pswp__caption">
                                    <div class="pswp__caption__center"></div>
                                </div>

                            </div>

                        </div>

                    </div>

                </li>
                <li class="mui-table-view-cell" v-if="basicInfo.chargeStandard && basicInfo.chargeBasis">
                    <div class="li-title">收费依据</div>
                    <p class="p1" v-if="basicInfo.chargeStandard">
                        <b>收费标准：</b>
                        <p class="p3" v-html="basicInfo.chargeStandard"></p>
                    </p>
                    <p class="p1" v-if="basicInfo.chargeBasis">
                        <b>收费依据：</b>
                        <p class="p3" v-html="basicInfo.chargeBasis"></p>
                    </p>
                </li>
            </ul>
        </div>
        <button type="button" class="mui-btn mui-btn-primary mui-btn-block preaudit-button" @click="goPreaudit()">在线预审</button>
    </div>
</div>
</body>
</html>

<script>
    new Vue({
        el: '#app',
        data: {
            apiUrl: 'http://47.96.11.207',
            // apiUrl: 'http://localhost:8765',
            // apiUrl: 'http://192.168.0.170',
            itemId: undefined,
            basicInfo: {},
            materials: [],
            windowWidth: undefined
        },
        created() {
            this.width = $(window).width();
            this.itemId = getParam('itemId');
            this.initItemDetail();
            this.getItemMaterials();
            this.initPhotoSwipeFromDOM('.my-gallery');
        },
        methods: {
            initItemDetail() {
                let _this = this;
                $.ajax({
                    type: "get",
                    url: _this.apiUrl + "/web/api/item/getItemDetail",
                    dataType: 'json',
                    data: { id: _this.itemId },
                    success: function (response) {
                        if (response.status === 200) {
                            _this.basicInfo = response.data
                        } else {
                            mui.alert(response.message);
                        }
                    }
                });
            },
            getItemMaterials() {
                let _this = this;
                $.ajax({
                    type: "get",
                    url: _this.apiUrl + "/web/api/item/selectNewestMaterialsByItemId",
                    dataType: 'json',
                    data: { itemId: _this.itemId },
                    success: function (response) {
                        if (response.status === 200) {
                            _this.materials = response.data
                        } else {
                            mui.alert(response.message);
                        }
                    }
                });
            },
            goPreaudit() {
                location.href = "preaudit.html?itemId=" + this.itemId;
                // location.href = "preaudit.html?itemId=" + '1135374889667006465';// 医师注册
            },

            // 图片处理
            initPhotoSwipeFromDOM(gallerySelector) {

                // 解析来自DOM元素幻灯片数据（URL，标题，大小...）
                var parseThumbnailElements = function(el) {
                    var thumbElements = el.childNodes,
                        numNodes = thumbElements.length,
                        items = [],
                        figureEl,
                        linkEl,
                        size,
                        item,
                        divEl;
                    for(var i = 0; i < numNodes; i++) {
                        figureEl = thumbElements[i]; // <figure> element
                        // 仅包括元素节点
                        if(figureEl.nodeType !== 1) {
                            continue;
                        }
                        divEl = figureEl.children[0];
                        linkEl = divEl.children[0]; // <a> element
                        var img = new Image();
                        img.src = linkEl.getAttribute('href');

                        linkEl.setAttribute('data-size', img.naturalWidth + 'x' + img.naturalHeight);

                        size = linkEl.getAttribute('data-size').split('x');
                        // 创建幻灯片对象
                        item = {
                            src: linkEl.getAttribute('href'),
                            w: parseInt(size[0], 10),
                            h: parseInt(size[1], 10)
                        };
                        if(figureEl.children.length > 1) {
                            item.title = figureEl.children[1].innerHTML;
                        }
                        if(linkEl.children.length > 0) {
                            // <img> 缩略图节点, 检索缩略图网址
                            item.msrc = linkEl.children[0].getAttribute('src');
                        }
                        item.el = figureEl; // 保存链接元素 for getThumbBoundsFn
                        items.push(item);
                    }
                    return items;
                };




                // 查找最近的父节点
                var closest = function closest(el, fn) {
                    return el && ( fn(el) ? el : closest(el.parentNode, fn) );
                };

                // 当用户点击缩略图触发
                var onThumbnailsClick = function(e) {
                    e = e || window.event;
                    e.preventDefault ? e.preventDefault() : e.returnValue = false;
                    var eTarget = e.target || e.srcElement;
                    var clickedListItem = closest(eTarget, function(el) {
                        return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
                    });
                    if(!clickedListItem) {
                        return;
                    }
                    var clickedGallery = clickedListItem.parentNode,
                        childNodes = clickedListItem.parentNode.childNodes,
                        numChildNodes = childNodes.length,
                        nodeIndex = 0,
                        index;
                    for (var i = 0; i < numChildNodes; i++) {
                        if(childNodes[i].nodeType !== 1) {
                            continue;
                        }
                        if(childNodes[i] === clickedListItem) {
                            index = nodeIndex;
                            break;
                        }
                        nodeIndex++;
                    }
                    if(index >= 0) {
                        openPhotoSwipe( index, clickedGallery );
                    }
                    return false;
                };

                var photoswipeParseHash = function() {
                    var hash = window.location.hash.substring(1),
                        params = {};
                    if(hash.length < 5) {
                        return params;
                    }
                    var vars = hash.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        if(!vars[i]) {
                            continue;
                        }
                        var pair = vars[i].split('=');
                        if(pair.length < 2) {
                            continue;
                        }
                        params[pair[0]] = pair[1];
                    }
                    if(params.gid) {
                        params.gid = parseInt(params.gid, 10);
                    }
                    return params;
                };

                var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
                    var pswpElement = document.querySelectorAll('.pswp')[0],
                        gallery,
                        options,
                        items;
                    items = parseThumbnailElements(galleryElement);
                    // 这里可以定义参数
                    options = {
                        index: 0,
                        barsSize: {
                            top: 100,
                            bottom: 100
                        },
                        //全屏模式关闭
                        fullscreenEl : false,
                        //点击图片关闭
                        tapToClose: true,
                        //分享按钮
                        shareButtons: [
                            // {id:'wechat', label:'分享微信', url:'#'},
                            // {id:'weibo', label:'新浪微博', url:'#'},
                            {id:'download', label:'保存图片', url:'{{raw_image_url}}', download:true}
                        ],
                        galleryUID: galleryElement.getAttribute('data-pswp-uid'),
                        getThumbBoundsFn: function(index) {
                            var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                                pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                                rect = thumbnail.getBoundingClientRect();
                            return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
                        }
                    };
                    if(fromURL) {
                        if(options.galleryPIDs) {
                            for(var j = 0; j < items.length; j++) {
                                if(items[j].pid == index) {
                                    options.index = j;
                                    break;
                                }
                            }
                        } else {
                            options.index = parseInt(index, 10) - 1;
                        }
                    } else {
                        options.index = parseInt(index, 10);
                    }
                    if( isNaN(options.index) ) {
                        return;
                    }
                    if(disableAnimation) {
                        options.showAnimationDuration = 0;
                    }
                    gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
                    gallery.init();
                };

                var galleryElements = document.querySelectorAll( gallerySelector );
                for(var i = 0, l = galleryElements.length; i < l; i++) {
                    galleryElements[i].setAttribute('data-pswp-uid', i+1);
                    galleryElements[i].onclick = onThumbnailsClick;
                }
                var hashData = photoswipeParseHash();
                if(hashData.pid && hashData.gid) {
                    openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
                }

            }
        }
    });

    /*$.fn.ImgZoomIn = function () {
        var window_h = $(window).height();
        var scroll_h = $(window).scrollTop();

        bgstr = '<div id="ImgZoomInBG" style="position: absolute;filter:Alpha(Opacity=70); opacity:0.7;z-index: 10000;background-color: #000;display: none;"></div>';
        imgstr = '<img id="ImgZoomInImage" src="' + $(this).attr('src')+'" style="cursor:pointer; display:none; position:absolute; z-index:10001;" />';
        if ($('#ImgZoomInBG').length < 1) {
            $('body').append(bgstr);
        }
        if ($('#ImgZoomInImage').length < 1) {
            $('body').append(imgstr);
        }
        else {
            $('#ImgZoomInImage').attr('src', $(this).attr('src'));
        }

        $('#ImgZoomInBG').css('top', scroll_h+'px');
        $('#ImgZoomInBG').css('width', '100%');
        $('#ImgZoomInBG').css('height', window_h+'px');

        $('#ImgZoomInImage').css('width', '100%');
        $('#ImgZoomInImage').css('height', window_h+'px');
        $('#ImgZoomInImage').css('top', scroll_h+'px');

        $('#ImgZoomInBG').show();
        $('#ImgZoomInImage').show();
    };
    // PC端
    $(document).ready(function () {
        $(document).on('click','.handle-workflow-img',function (){
            $(this).ImgZoomIn();
            $(document.body).css({
                "overflow-x":"hidden",
                "overflow-y":"hidden"
            });
        });

        $(document).on('click','#ImgZoomInImage',function(){
            $('#ImgZoomInImage').hide();
            $('#ImgZoomInBG').hide();
            $(document.body).css({
                "overflow-x":"auto",
                "overflow-y":"auto"
            });
        });
    });
    // 手机端
    $(document).ready(function () {
        $(document).on('touchend','.handle-workflow-img',function (t){
            $(this).ImgZoomIn();
            document.ontouchstart=function(){
                return false;
            }
            t.preventDefault();
        });

        $(document).on('touchend','#ImgZoomInImage',function(t){
            $('#ImgZoomInImage').hide();
            $('#ImgZoomInBG').hide();
            document.ontouchstart=function(){
                return true;
            }
            t.preventDefault();
        });
    });*/









</script>
