<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>微政务</title>
    <link rel="stylesheet" type="text/css" href="styles/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/wmh.css"/>
    <link rel="stylesheet" type="text/css" href="styles/icons-extra.css"/>
    <link rel="stylesheet" type="text/css" href="styles/preaudit.css"/>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div id="app">
    <header class="mui-bar mui-bar-nav news-logo header">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left back"></a>
        <h1  class="mui-title title">
            <span>在线预审</span>
        </h1>
        <a href="index.html" class="mui-icon mui-icon-home mui-pull-right home"></a>
    </header>
    <div class="preaudit">
        <div class="global">
            <div class="mui-title item-title">{{basicInfo.name}}</div>
            <div class="separate"></div>
            <div class="content">
                <div class="content-title">
                    <p class="title">
                        <span class="mui-icon-extra mui-icon-extra-dictionary icon"></span>
                        审批条件
                    </p>
                </div>
                <p class="condition-item" v-html="basicInfo.acceptCondition" v-if="basicInfo.acceptCondition"></p>
                <p class="condition-item" v-else>无</p>
            </div>
            <div class="separate1"></div>
            <div class="content">
                <div class="content-title">
                    <p class="title">
                        <span class="mui-icon mui-icon-contact icon"></span>
                        基本信息
                    </p>
                </div>
                <table class="item-table">
                    <tbody>
                    <tr v-if="identityVo.name">
                        <th>姓名</th>
                        <td>{{identityVo.name}}</td>
                    </tr>
                    <tr v-if="identityVo.idcardNo">
                        <th>身份证号</th>
                        <td>{{identityVo.idcardNo}}</td>
                    </tr>
                    <tr v-if="identityVo.phone">
                        <th>联系电话</th>
                        <td>{{identityVo.phone}}</td>
                    </tr>
                    <tr v-if="identityVo.address">
                        <th>通讯地址</th>
                        <td>{{identityVo.address}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="separate1"></div>
            <div class="content">
                <div class="content-title">
                    <p class="title">
                        <span class="mui-icon-extra mui-icon-extra-topic icon"></span>
                        申报材料
                    </p>
                </div>
                <table class="material-table" v-if="materials.length > 0">
                    <tbody>
                    <tr v-for="(material,index) in materials">
                        <td>
                            <b>材料名称:</b> {{material.materialsName}}<br>
                            <!--<button type="button" class="mui-btn-primary mui-icon mui-icon-camera material-button" @click="appendByCamera()">
                                拍照上传
                            </button>
                            <button type="button" class="mui-btn-primary mui-icon-extra mui-icon-extra-topic material-button" @click="appendByGallery()">
                                文件选取
                            </button>
                            <p id="file-list-title" style="display: none">上传文件列表：</p>
                            <ul id="file-list" style="text-align:left;"></ul>
                            <button type="button" class="mui-btn-success mui-icon mui-icon-upload material-button" @click="upload(material.id)">
                                上传到服务器
                            </button>-->
                            <button type="button" class="mui-btn-primary mui-icon-extra mui-icon-extra-topic material-button" @click="fileChange(index)">
                                文件选取
                                <input type="file" multiple :id="'file' + index" v-show="false"/>
                            </button>
                            <!--<a href="javascript:;" class="mui-icon-extra mui-icon-extra-topic file" @click="fileChange(index)">选择文件
                                <input type="file" multiple :id="'file' + index" v-show="false"/>
                            </a>-->

                            <span :id="'showFileName' + index"></span>
                            <br/>
                            <button type="button" class="mui-btn-success mui-icon mui-icon-upload material-button" @click="upload(index, material.id)">
                                上传到服务器
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="condition-item" v-else>无</p>
            </div>
        </div>
        <button type="button" class="mui-btn mui-btn-primary mui-btn-block save-button" @click="savePreaudit()">提交预审</button>
    </div>
</div>
</body>
</html>

<script>
    new Vue({
        el: '#app',
        data: {
            apiUrl: 'http://47.96.11.207',
            // apiUrl: 'http://localhost:8765',
            // apiUrl: 'http://192.168.0.170',
            itemId: undefined,
            identityVo: {
                id: undefined,
                idcardNo: undefined,
                name: undefined,
                gender: undefined,
                birthday: undefined,
                address: undefined,
                phone: undefined,
                wechatOpenid: '7777777'
            },
            basicInfo: {},
            materials: [],
            itemPretrial: {
                id: undefined,
                memberId: '123456',
                itemId: undefined,
                materialsVersion: undefined,
                itemPretrialMaterialVoList: []
            },
        },
        created() {
            this.getIdentityInfoByOpenId();
            this.itemId = getParam('itemId');
            this.initItemDetail();
            this.getItemMaterials();
        },
        methods: {
            // 用户信息查询
            getIdentityInfoByOpenId() {
                let _this = this;
                $.ajax({
                    method: "get",
                    url: _this.apiUrl + "/web/api/number/getIdentityInfoByOpenId",
                    data: "wechatOpenid=" + _this.identityVo.wechatOpenid,
                    dataType: "json",
                    success: function (result) {
                        if (result.status == 200 && result.data) {
                            _this.identityVo = result.data;
                        } else {
                            _this.tipBindInfo();
                        }
                    },
                    error: function () {
                        alert('fail');
                    }
                });
            },
            tipBindInfo: function () {
                mui.alert("请前往个人中心绑定身份信息<br>", "重要提示", "确定", function () {
                    location.href = "grzx.html"
                })
            },
            initItemDetail() {
                let _this = this;
                $.ajax({
                    type: "get",
                    url: _this.apiUrl + "/web/api/item/getItemDetail",
                    dataType: 'json',
                    data: { id: _this.itemId },
                    success: function (response) {
                        if (response.status === 200 && response.data) {
                            _this.basicInfo = response.data
                        } else {
                            mui.alert(response.message);
                        }
                    }
                });
            },
            getItemMaterials() {
                let _this = this;
                $.ajax({
                    type: "get",
                    url: _this.apiUrl + "/web/api/item/selectNewestMaterialsByItemId",
                    dataType: 'json',
                    data: { itemId: _this.itemId },
                    success: function (response) {
                        if (response.status === 200) {
                            if (response.data.length > 0) {
                                _this.materials = response.data;
                                _this.initPretrialMaterials();
                            }
                        } else {
                            mui.alert(response.message);
                        }
                    }
                });
            },
            initPretrialMaterials() {
                let _this = this;
                _this.itemPretrial.materialsVersion = _this.materials[0].materialsVersion;
                for (let material of _this.materials) {
                    let itemPretrialMaterial = {
                        materialsId: material.id,
                    };
                    this.itemPretrial.itemPretrialMaterialVoList.push(itemPretrialMaterial);
                }
            },
            // 文件改变
            fileChange(index) {
                console.log("fileChange: index: " + index)
                let file = document.getElementById("file" + index);
                file.click();
                $(".material-button").on("change","input[type='file']",function(){
                    /*let filePath = $(this).val();
                    let arr = filePath.split('\\');
                    let fileName = arr[arr.length-1];*/
                    for (let f of file.files) {
                        let fileMax = 10 * 1024 * 1024;
                        if (f.size > fileMax){
                            mui.alert("文件过大，请重新选择文件！文件最大为10MB！");
                            // 清空文件
                            file.outerHTML = file.outerHTML;
                            $("#showFileName" + index).html("");
                        } else {
                            let fileName = $("#showFileName" + index).html();
                            if (fileName.indexOf(f.name) == -1 ) {
                                $("#showFileName" + index).append(f.name + "  ");
                            }
                        }
                    }
                })
            },
            // 上传文件
            upload(index, materialId){
                // console.log(materialId)
                let file = document.getElementById("file" + index);
                // console.log(files)
                if (file.files.length == 0) {
                    mui.alert("没有添加上传文件！");
                } else {
                    for (let f of file.files) {
                        console.log(f)
                        let _this = this;
                        let formData = new FormData();
                        formData.append("file", f);
                        $.ajax({
                            type: "post",
                            url: _this.apiUrl + "/manage/common/upload",
                            data: formData,
                            // 上传文件无需缓存
                            cache: false,
                            // 告诉jQuery不要去处理发送的数据，用于对data参数进行序列化处理 这里必须false
                            processData : false,
                            // 告诉jQuery不要去设置Content-Type请求头, 必须
                            contentType : false,
                            success: function (result) {
                                if (result.status == 200 && result.data) {
                                    mui.toast("上传成功");
                                    for (let itemPretrialMaterialVo of _this.itemPretrial.itemPretrialMaterialVoList) {
                                        if (itemPretrialMaterialVo.materialsId === materialId) {
                                            if (itemPretrialMaterialVo.materialsUrl) {
                                                itemPretrialMaterialVo.materialsUrl += `,${result.data.url}`
                                            } else {
                                                itemPretrialMaterialVo.materialsUrl = `${result.data.url}`
                                            }
                                        }
                                    }
                                    // 清空文件
                                    file.outerHTML = file.outerHTML;
                                } else {
                                    mui.toast("上传失败");
                                }
                            },
                            error: function (result) {
                                alert(JSON.stringify(result));
                            }
                        });
                    }

                }
            },
            savePreaudit() {
                let _this = this;
                for (let [index, val] of _this.materials.entries()) {
                    if (!this.itemPretrial.itemPretrialMaterialVoList[index].materialsUrl) {
                        mui.alert('资料提交不全，请先上传资料！')
                        return
                    }
                }
                _this.itemPretrial.itemId = _this.itemId;
                let data = JSON.stringify(_this.itemPretrial);
                $.ajax({
                    type: "post",
                    url: _this.apiUrl + "/web/api/preaudit/miniSaveOrUpdatePreauditRecordVo",
                    // contentType: 'json',
                    data: {preauditRecordVoStr: data},
                    success: function (response) {
                        if (response.status === 200 && response.data) {
                            mui.alert('申请提交成功，请耐心等待审核！')
                            location.href = "index.html"
                        } else {
                            mui.alert('申请提交失败，请重新提交审核！');
                        }
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });
            },

        }
    });
</script>

