<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>微政务</title>
    <link rel="stylesheet" type="text/css" href="styles/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/wmh.css"/>
    <script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="/js/promise.min.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/moment.js"></script>
</head>
<body style="background: #ffffff">
<div id="app">
    <header >
        <div class="mui-titlea">
            <img src="images/zhcx_logo.png">
            <!--<div class="return-tag">
                <span class="return-btn" style="font-size: 13px">
                    <a class="mui-icon mui-icon-left-nav" style="font-size: 16px; color: #fff;"></a>
                    &nbsp;&nbsp;返回首页
                </span>
            </div>-->
        </div>
    </header>
    <div class="zhcx-body">
        <div class="search-box">
            <div class="search-row search-title">办件物流查询</div>
            <div class="search-row">
                <input type="text" v-model="workNo" placeholder="请输入办件编号"/>
            </div>
            <div class="search-row">
                <button type="button" class="mui-btn mui-btn-primary search-btn" @click="search">查&nbsp;&nbsp;询</button>
                <button type="button" class="mui-btn mui-btn-primary btn-cancel search-btn search-btn2">取&nbsp;&nbsp;消</button>
            </div>
        </div>
        <div class="mui-card" v-show="cardVisible" style="display: none">
            <div class="mui-card-content">
                <div>
                    <div class="card-title bottom-border-dashed">
                        <img src="images/tuding.png">
                        <div class="title-text">{{itemName}}</div>
                    </div>
                    <div class="logistics-list">
                        <ul>
                            <li v-for="(item, index) in records" :class="(index == 0 ? 'first' : '') + ' ' + (index == records.length - 1 ? 'last' : '')">
                                <div class="node-container">
                                    <div class="node"></div>
                                </div>
                                <div class="content">
                                    <p>[{{item.status | recordStatus}}] {{item.option}}</p>
                                    <p>{{item.operateTime | date('YYYY-MM-DD HH:mm:ss')}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 48px"></div>
        <div class="return-btn-container">
            <a class="mui-icon mui-icon-left-nav" style="color: #fff;" href="index.html">
                <span class="return-btn" style="vertical-align: baseline;">返回首页</span></a>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/babel">
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    new Vue({
        el: '#app',
        data: {
            // apiUrl: 'http://lhsmzx.deyatong.com',
            // apiUrl: 'http://47.96.11.207',
            apiUrl: 'http://localhost:8765',
            workNo: undefined,
            itemName: undefined,
            records: [],
            cardVisible: false
        },
        filters: {
            recordStatus(value) {
                const recordStatusMap = {
                    1: '等待预审',
                    2: '整改',
                    3: '通过审核',
                    4: '不予受理',
                    10: '在办',
                    15: '办结',
                    99: '不予受理',
                };
                return recordStatusMap[value] || value;
            },
            date(value, format) {
                if (value) {
                    return moment(value).format(format)
                }
                return ''
            }
        },
        methods: {
            search() {
                this.cardVisible = false;
                this.records = [];
                if (!this.workNo) {
                    return false;
                }
                Promise.all([this.getPreauditDetails(this.workNo), this.getHandlingDetails(this.workNo)]).then(data => {
                    const preaudit = data[0];
                    const handling = data[1];
                    if (preaudit) {
                        this.records.push({
                            status: '提交预审',
                            option: '',
                            operateTime: preaudit.createTime
                        });
                        this.records.push.apply(this.records, preaudit.preauditResonVoList);
                        this.itemName = preaudit.itemName;
                        this.cardVisible = true;
                    }
                    if (handling) {
                        this.records.push.apply(this.records, handling.handlingResonVoList);
                        this.itemName = handling.itemName;
                        this.cardVisible = true;
                    }
                    this.records.reverse();
                });
            },
            getPreauditDetails(workNo) {
                const _this = this;
                return new Promise((resolve, reject) => {
                    $.ajax({
                        method: "get",
                        url: _this.apiUrl + "/web/api/preaudit/getPreauditRecordWithResons",
                        data: {workNo},
                        dataType: "json",
                        success: function (result) {
                            if (result.status == 200) {
                                resolve(result.data)
                            } else {
                                reject(result.message)
                            }
                        }
                    });
                })
            },
            getHandlingDetails(workNo) {
                const _this = this;
                return new Promise((resolve, reject) => {
                    $.ajax({
                        method: "get",
                        url: _this.apiUrl + "/web/api/handling/getHandlingRecordWithResons",
                        data: {workNo},
                        dataType: "json",
                        success: function (result) {
                            if (result.status == 200) {
                                resolve(result.data)
                            } else {
                                reject(result.message)
                            }
                        }
                    });
                })
            },
        }
    })
</script>
