
.div-box1 li {
    list-style-type: none;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px;
}

.div-box1 li.hover {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f19aab), to(#f56481));
    border-radius: 12px;
}

.div-box2 li {
    background: #e4f0fe;
    border-radius: 12px;
    list-style-type: none;
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    border: 1px;
    width: 100px;
    height: 70px;
}

.div-box2 li:hover {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#51a1fe), to(#1f7ce7));
    border-radius: 12px;

}

.faceul {
    height: auto;
    display: block;
    overflow: hidden;
    padding: 0 10px;
}

.faceul img {
    margin: 10px 0 0 29px;
    width: 35%;
    height: 35%;
}

.faceul span {
    font-size: 15px;
    display: block;
    text-align: center;
    padding-top: 5px;
}

.faceul a {
    color: #ffffff;
}

.faceul1 {
    height: auto;
    display: block;
    overflow: hidden;
    padding: 0 10px;
}

.faceul1 span {
    font-size: 15px;
    display: block;
    text-align: center;
    padding-top: 23px;
    line-height: 27px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.faceul1 a {
    color: #1f7cee;
}

.faceul1 a:hover {
    color: #fff;
}

.mui-line {
    margin: 10px auto;
    border-top: 1px solid #ffffff;
    text-align: center;
    width: 36px;
}

.sancia-title {
    text-align: center;
    color: white;
    font-size: 23px;
}
.divs .imgs{
    display: inline-block;
    vertical-align: middle;
}
.divs img{
    width: 50%;
    height: 50%;
    margin-left: 10px;
}
.divs .infos{
    display: inline-block;
    color: #1f7cee;
    font-size: 15px;
}
.divs1 .infos1{
    font-size: 15px;
    text-align: left;
}
.divs1 ul li{
    background:#f9f9f9
}
.m-yysd ul li.hover {
    background: #ddebfc;
    color: #1f7cee;
    border: 1px solid #1f7cee;
}
.m-yysd ul li {
    width: 46%;
}